.dPdbIW{
    width: 100% !important;
    height: 80vh;
}

.glfuN {
    background-color: rgb(120, 72, 244)!important;
}

.lifvqk {
    margin: 0;
    font-size: 30px !important;
    color: rgb(255, 255, 255) !important;
}

.hQsUiY {
    background: rgb(120, 72, 244) !important;
}

.jpJyWr {
    position: fixed !important;
    bottom: 0 !important;
}
.hiexti {
    background-color: transparent;
    border: 0;
    border-bottom-right-radius: 10px;
    box-shadow: none;
    cursor: pointer;
    fill: #4a4a4a;
    opacity: 1;
    padding: 14px 16px 12px 16px;
    right: 0;
    bottom: 0;
    position: absolute;
}
.fBGGBn {
    overflow-y: scroll;
    margin-top: 2px;
    padding-top: 6px;
    height: 88vh;
}